*,*::after,*::before{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Home */
.cont_home1{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cont_home{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  /* background-image: url('https://wallpaper.dog/large/20419036.jpg') ; */
}
.home{
  width: 700px;
  padding: 100px;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.home h1{
  font-size: 38px;
  margin: 10px 0;
}
.home_img{
  width: 450px;
}
.home_img img{
  width: 100%;
  object-fit: cover;
}
.home_form label{
  font-size: 20px;
  font-weight: 600;
}
.home_form input{
  padding: 12px;
  border-radius: 10px 0 0px 10px ;
  font-size: 14px;
}
.home_input{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_input button{
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  background-color: black;
  cursor: pointer;

}
.home_input button img{
  width: 30px;
}
.home__footer{
  width: 100%;
  background-color: red;
  border-bottom: solid 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__footer__buttom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 50%;
}
.bottom{
  top: 50px;
}
/* Pokedex */
.pokedex__serch__selec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pokedex__form{
  width: 60%;
  margin: 20px 0;
}
.pokedex__form input{
  width: 80%;
  padding: 8px 0;
  border-radius: 10px 0 0 10px;
}
.pokedex__form button{
  width: 20%;
  border: none;
  border: solid 2px rgb(105, 105, 105);
  border-radius:0 10px 10px 0;
  padding: 8px 0;
  cursor: pointer;
  background-color: rgb(255, 45, 45);
  color: white;
  transition: background ease-in .2s ;
}
.pokedex__form button:hover{
  background-color: grey;
}

.pokedex__select{
  width: 30%;
  padding: 8px 0;
  border-radius: 10px 0 0 10px;
  border: solid 2px rgb(105, 105, 105);
  margin: 10px 0;
}
.pokedex__select option{
  padding: 0;
  padding: 30px;
}

.pokedex_header{
  width: 100%;
  background-color: red;
  border-bottom: solid 50px black;
}
.pokedex_top{
  display:inline-block;
  position:relative;
  width: 100px;
} 
.logo{
  width: 20vw;
  left: 20px;
}
.ball{
  top: 75px;
  left: 65vw;
}
.pokedex_ball{
  background-color: #fff;
  border: solid 11px #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokedex_ball_center{
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  z-index: 3;
}
.pokedex_top img{
  width: 100%;
}
.pokedex_main{
  margin: 20px 80px;
}
.pokedex_welcome{
  padding: 20px 0;
  font-size: 20px;

}
.pokedex_welcome h3 span {
  color: red;
}
.cont_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}


/* Pokemon Card  */

.pokeCard_cont{
  width: 260px;
  background-color: white;
  border: solid 6px  #7EC6C5;
  border-radius: 8px;
  color: #7EC6C5;
}
.pokeCard_header_bg{
  width: 100%;
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
.pokeCard_header{
  width: 160px;
  
}
.pokeCard_header img{
  position: relative;
  top: 40px;
  width: 100%;
}
.pokeCard_nt{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.pokeCard_nt h3{
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 50px;
}
.pokeCard_list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pokeCard_list li{
  list-style: none;
  font-size: 14px;
  color: black;
}
.pokeCard_nt p{
  margin: 5px;
  font-size: 11px;
  font-weight: lighter;
  color: grey;
}
.pokeCard_stats{
  width: 100%;
  border-top: solid rgb(241, 241, 241) 2px;
  padding: 10px 0;
}
.pokeCard_stats_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}
.pokeCard_stats_item{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokeCard_stats_item h4{
  font-size: 10px;
  text-transform: capitalize;
  color: grey;
  margin: 0;
}
.pokeCard_stats_item p{
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

/* PokeDetails */

.pokeInfo{
  width: 100%;
  height: 100vh;
  background-image: url("https://cutewallpaper.org/21/pokemon-background-image/Pokemon-Wallpapers-x-Wallpaper-in-2019-Pokemon-backgrounds-.jpg");
  background-size: cover;
}
.info_header{
  width: 100%;
  height: 20%;
  padding: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
.info_header_img{
  width: 280px;
}
.info_header_img img{
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.pokeInfo_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 90px;
  gap: 30px;
}
.pokeInfo_cont_main{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.info_main{
  width: 100%;
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info_main_img{
  width: 300px;
  height: 120px;
  display: inline-block;
  position: relative;
  bottom:  150px;
}
.info_main_img img{
  width: 100%;
  object-fit: cover;
}
.poke_wh{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 30px;
}
.poke_w{
  text-align: center;
}
.poke_w h3{
  font-size: 22px;
}
.poke_w h4{
  font-size: 15px;
  font-weight: lighter;
}
.info_main h1{
  font-size: 30px;
  text-transform: capitalize;
}
.info_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.info_type{
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.info_aside{
  width: 30%;
  text-align: center;
  background-color: white;
  
}
.info_aside_list{
  overflow-y: scroll;
  height: 475px;

}
.type__normal{
  border: solid 6px #735259;
  color: #735259;
}
.normal__header{
  background:  linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.type__fire{
  border: solid 6px #E6901E;
  color: #E6901E;
}
.fire__header{
  background:  linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.type__water{
  border: solid 6px #1479FB;
  color: #1479FB;
}
.water__header{
  background:  linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.type__bug{
  border: solid 6px #4AB648;
  color: #4AB648;
}
.bug__header{
  background:  linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.type__fighting{
  border: solid 6px #96402A;
  color: #96402A;
}
.fighting__header{
  background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.type__poison{
  border: solid 6px #5B3184;
  color: #5B3184;
}
.poison__header{
  background:  linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.type__psychic{
  border: solid 6px #c949d4;
  color: #c949d4;
}
.psychic__header{
  background: linear-gradient(176.83deg, #c949d4 -8.78%, #b17cb6 169.09%, #b69bb8 242.33%);
}
.type__ghost{
  border: solid 6px #323569;
  color: #323569;
}
.ghost__header{
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.type__rock{
  border: solid 6px #7E7E7E;
  color: #7E7E7E;
}
.rock__header{
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.type__dark{
  border: solid 6px #0B0E0D;
  color: #0B0E0D;
}
.dark__header{
  background:  linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.type__ice{
  border: solid 6px #6FBEDF;
  color: #6FBEDF;
}
.ice__header{
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.type__steel{
  border: solid 6px #5E736C;
  color: #5E736C;
}
.steel__header{
  background:linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.type__dragon{
  border: solid 6px #478A93;
  color: #478A93;
}
.dragon__header{
  background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.type__ground{
  border: solid 6px #654008;
  color: #654008;
}
.ground__header{
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.type__electric{
  border: solid 6px #0C1395;
  color: #0C1395;
}
.electric__header{
  background:  linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
.type__fairy{
  border: solid 6px #971B45;
  color: #971B45;
}
.fairy__header{
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.type__flying{
  border: solid 6px #1b4297;
  color: #1b4297;
}
.flying__header{
  background: linear-gradient(179.75deg, #1d3d83 -19.96%, #02329b 67%, #001747 138.4%);
}


